.studio-header-wrapper {
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.09), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  	background-color: #fff;
  	.studio-navbar {
  		flex-basis: 100%;  	
  	}
  	.nav-images-list {
  		justify-content: flex-end;
  		.nav-images {
  			text-align: right;
  			width: 20%;
  			padding-right: 4.49vw;
			img{
				width: 26px;
			}
		}
  	}
  	

	.brand-image img {
		width: 138px;
	}

	.route-type , .contact-us-dropdown {
		a, a.nav-link {
			object-fit: contain;
		  	font-family: Proxima Nova Lt;
		  	font-size: 17px;
		  	font-weight: 600;
		    font-stretch: normal;
		 	font-style: normal;
		    line-height: normal;
		    letter-spacing: normal;
		    color: #343232;
		    text-decoration: none;
		    padding-right: 4.379vw;
		}

		.activeNav {
			color: red;
		}
	}

	.contact-us-dropdown > a.navlink {
		padding-right: 0;
	}

	.contact-us-dropdown > a {
	    .contact-us-dropdown-item  span {
	    	font-family: Proxima Nova Lt;
			  font-size: 17px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: normal;
			  color: #0b0b0b;
			  
	    }

	}

	.custom-carets > a::after {
		background-image: url('../../images/home/header/arrow.png');		
		background-repeat: no-repeat;
	    background-size: 0.7em;
	    border: none;
	    padding: 2.1px 11px 5px 9px;
	    background-position-x: 100%;
	}

	.contact-detail {
		display: inline-block;
    	margin-left: 8px;
	}

	 .mail-icon {
	 	display: inline-block;
		width: 24px;
	}

	.phone-icon {
		display: inline-block;
		width: 18px;
	}
}

@media only screen and (min-width: 992px) {
	.studio-header-wrapper {
		height: 84px;
		.search {
			width: 46.3%;
		}
		.noun-profile {
			width: 46.6%;
		}
		.group {
			width: 46.9%;
		}
		.combined-shape {
			width: 50%;
		}
	}
}