.studio-navheader-wrapper {
	background-color: #f6f6f6;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.22);

	.image-links-list{
		.navbar {
			padding-right: 0;
			.nav-images-list {
				width: 66%;
				.nav-images {
					padding-top: 0;										
				}
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.studio-navheader-wrapper {
		.brand-image {
			img {
				width: 58%;
			}
		}

		.image-links-list{
			width: 70%;
			.navbar {
				padding-bottom: 0;
				.nav-images-list {
					.nav-images  {
						img {
							width: 38%;
						}
					}
				}
			}
		}
	}
}