@media only screen and (min-width: 992px) {
	.blog-wrapper {
		margin-left: 3em;
	}
}

.blog-wrapper {
	margin-top: 116px;

	.blog-desc {
		p:first-child {
			font-family: Proxima Nova;
			font-size: 36px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #000000;
		}
	}
	.blog-images-wrapper{
		margin-top: 113px;
		.blog-list {
			p {
				font-family: Proxima Nova;
			    font-size: 17px;
			    font-weight: normal;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: normal;
			    letter-spacing: normal;
			    color: #000000;
			}

			p:first-child {
				margin-top: 29px;
				font-size: 36px;
				font-family: Proxima Nova Rg;
				color: #080808;
			}
		}
	}

	.know-more-wrapper {
		cursor: pointer;
		margin-top: 3em;
		div{
			border-bottom: 2px solid #f7f7f7;
			padding-bottom: 3em;
		}
		span {
			display: inline-block;
    		margin-right: 8px;
			font-family: Proxima Nova;
			font-size: 17px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #e53532;
		}

		img {
			width: 16px;
			display: inline-block;
		}
	}
}