.contactus-wrapper {
	background-color: #e0e0e0;
	margin-left: 0;
	.heading {
		margin-top: 80px;
		margin-bottom: 103px;
		font-family: Proxima  Nova;
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		text-align:  center;
	}

	.contact-address {
		text-align:  center;
		div {
			width: 72%;
    		height: 315px;
    		margin: 0 auto;
		}
	}

	.contact-us-list {
		margin-top: 69px;
		text-align: center;
		font-family: Proxima Nova;
		font-size: 24px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		
		p{
			border: 1px solid #fff;
		    padding: 0.6em;
		    width: 56%;
		    margin: 0 auto;
		    background-color: #fff;
		    text-align: left;
		}
	}

	.social-media-link {
		width: 35%;
    	margin: 0 auto;
    	margin-top: 113px;
    	margin-bottom: 73px;
		img {
			width:  34px;
		}
	}
}