.curated-products-wrapper {
	margin-top: 116px;
	.curated-product-desc {
		p {
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.53;
			letter-spacing: normal;
			color: #000000;
		}

		p:first-child  {
			font-size: 36px;
		  	font-weight: bold;
		  	line-height: normal;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.curated-image-caption  {
		text-align: center;
		font-family: Proxima Nova Rg;
		font-size: 17px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #050505;
	}

	.curated-products-list {
		margin-top: 63px;
	}

	.know-more-wrapper {
		cursor: pointer;
		margin-top: 3em;
		div{
			border-bottom: 2px solid #f7f7f7;
			padding-bottom: 64px;
		}
		span {
			display: inline-block;
    		margin-right: 8px;
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #e53532;
		}

		img {
			width: 16px;
			display: inline-block;
			height: auto;
		}
	}
}


@media only screen and (max-width: 600px) {
	.curated-products-wrapper  {
		.curated-product-desc {
			padding-left: 27px;
			padding-right:  27px;
			>p:first-child {
				font-size: 22px;
			}

			>p:last-child {
				font-size: 14px;
			}
		}
		.curated-products-list {
			margin-top: 16px;
			 > div {
			 	text-align: center;
			 }
			 .curated-figure {
				box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
				border-radius: 6px;
				
				.curated-image-caption {
					margin-bottom: 21px;
					margin-top: 13px;
				}
			}
		}
	}
}

@media only screen and (min-width: 600px) {
	.curated-products-wrapper  {
		.curated-product-desc {
			padding-left: 27px;
			padding-right:  27px;
			>p:first-child {
				font-size: 22px;
			}

			>p:last-child {
				font-size: 14px;
			}
		}
		.curated-products-list {
			margin-top: 16px;
			 > div {
			 	text-align: center;
			 }
			 .curated-figure {
				box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
				border-radius: 6px;
				
				.curated-image-caption {
					margin-bottom: 21px;
					margin-top: 13px;
				}
			}
		}
	}	
}

@media only screen and (min-width: 768px) {
	.curated-products-wrapper {
		padding-left: 33px;
		padding-right: 33px;
		margin-top: 3em;
		.curated-product-desc {
			p:first-child {
				font-size: 32px;
			}
			p:last-child {
				font-size: 18.6px;
			}
		}

		.curated-products-list {
			margin-top: 20px;
			.curated-figure {
				box-shadow: none;
				border-radius: 0;
				.curated-image-caption {
					font-size: 14px;
				}
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.curated-products-wrapper {
		.curated-product-desc {
			p:first-child {
				font-size: 32px;
			}
			p:last-child {
				font-size: 18.6px;
			}
		}
		.curated-products-list {
			.curated-figure {
				box-shadow: none;
				border-radius: 0;
				.curated-image-caption {
					font-size: 17px;
					margin-top: 13px;
					margin-bottom: 0;
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.curated-products-wrapper {
		padding-left: 73px;
		padding-right: 73px;
		.curated-product-desc {
			p:first-child {
				font-size: 32px;
			}
			p:last-child {
				font-size: 17px;
			}
		}
		.curated-products-list {
			.curated-image-caption {
				font-size: 17px;
				margin-top: 10px;
			}
		}
	}
}