@media only screen and (min-width: 992px) {
	.design-process-wrapper {
		margin-left: 3em;
	}
}

.design-process-wrapper {
	margin-top: 116px;

	.design-process-desc {
		p:first-child {
			font-family: ProximaNova;
		  	font-size: 36px;
		  	font-weight: bold;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: normal;
		  	letter-spacing: normal;
		  	color: #000000;
		  	text-align: center;
		}
		p:nth-child(2) {
			font-family: ProximaNova;
			font-size: 17px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.59;
			letter-spacing: normal;
			text-align: center;
			color: #000000;
		}
	}

	.design-img {
		text-align: center;

		img {
			width: 100%;
		}
	}

	.design-process-img-details {
		margin-top: 23px;
		.design-process-img-desc {
			text-align: center;
			p:first-child {
				font-family: ProximaNova;
				font-size: 17px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}

			p:nth-child(2) {
			    font-family: ProximaNova;
			    font-size: 17px;
			    font-weight: normal;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: 1.59;
			    letter-spacing: normal;
			    text-align: center;
			    color: #4a4a4a;
			}
		}
	}

	.know-more-wrapper {
		cursor: pointer;
		margin-top: 3em;
		div{
			border-bottom: 2px solid #f7f7f7;
			padding-bottom: 3em;
			text-align: center;
		}
		span {
			display: inline-block;
    		margin-right: 8px;
			font-family: ProximaNova;
			font-size: 17px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #e53532;
		}

		img {
			width: 16px;
			display: inline-block;
		}
	}
}