.design-process-wrapper {
	margin-top: 64px;

	.design-process-desc {
		p:first-child {
			font-family: Proxima Nova Rg;
		  	font-size: 36px;
		  	font-weight: bold;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: normal;
		  	letter-spacing: normal;
		  	color: #000000;
		  	text-align: center;
		}
		p:nth-child(2) {
			width: 33%;
    		margin: 0 auto;
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.59;
			letter-spacing: normal;
			text-align: center;
			color: #000000;
		}
	}

	.design-img {
		margin-top: 116px;
		text-align: center;

		img {
			width: 90%;
			
		}

		@media only screen and (min-width: 992px) {
			img {
				margin-right: 4px;
			}
		}
	}

	.design-process-img-details {
		margin-top: 23px;
		padding-left: 21px;
    	padding-right: 21px;
		.design-process-img-desc {
			text-align: center;
			p{
				font-family: Proxima Nova Rg;
				font-size: 17px;
				font-stretch: normal;
				font-style: normal;
				letter-spacing: normal;
			}
			p:first-child {
				font-weight: bold;
				line-height: normal;
				color: #000000;
			}

			p:last-child {
			    font-weight: normal;
			    line-height: 1.59;
			    text-align: center;
			    color: #4a4a4a;
			}
		}
	}

	.know-more-wrapper {
		cursor: pointer;
		margin-top: 4em;
		div{
			border-bottom: 2px solid #f7f7f7;
			padding-bottom: 4em;
			text-align: center;
		}
		span {
			display: inline-block;
    		margin-right: 8px;
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #e53532;
		}

		img {
			width: 16px;
			display: inline-block;
			height: auto;
		}
	}
}

@media only screen and (max-width:600px) {
	.design-process-wrapper {
		.design-process-desc {
			p:first-child {
				font-size: 22px;
			}
			p:nth-child(2) {
				font-size: 14px;
				width: 80%;
			}	
		}		

		.design-process-desc:first-child {
			margin-bottom: 3em;
		}
		.design-process-img-details {
			margin-top: 34px;
			.design-process-img-desc {
				img{
					width: 36.7%;
					margin-bottom: 22px;
				}
				p {
					font-size: 12px;
					font-weight: bold;
				}
				p:last-child {
					margin-bottom: 0;
				}			
			}

			.design-process-img-desc:nth-child(2) {
				margin-bottom: 3em;
			}
		}
	}
}

@media only screen and (min-width:600px) {
	.design-process-wrapper {
		.design-process-desc {
			p:first-child {
				font-size: 22px;
			}
			p:nth-child(2) {
				font-size: 14px;
				width: 50%;
			}	
		}

		.design-process-img-details {
			margin-top: 34px;
			.design-process-img-desc {
				img{
					width: 36.7%;
					margin-bottom: 22px;
				}
				p {
					font-size: 12px;
					font-weight: bold;
				}

				p:last-child {
					margin-bottom: 0;
				}	
			}

			.design-process-img-desc:nth-child(2) {
				margin-bottom: 3em;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.design-process-wrapper {
		.design-process-desc {
			p:first-child {
				font-size: 36px;
			}
			p:nth-child(2) {
				font-size: 18.6px;
				width: 53%;
			}	
		}
		.design-process-img-details {
			.design-process-img-desc {
				p {
					font-size: 14px;
				}
			}

			.design-process-img-desc:nth-child(2) {
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.design-process-wrapper {
		.design-process-desc {
			p:nth-child(2) {
				width: 35%;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.design-process-wrapper {
		.design-process-img-details {
			.design-process-img-desc {
				p {
					font-size: 17px;
				}
			}
		}
	}
}