.feature-wrapper {
	margin-top: 64px;
	border-bottom: 2px solid #f7f7f7;
	padding-bottom: 48px;
	.feature-heading {
		font-family: Proxima Nova Rg;
	    font-size: 36px;
	    font-weight: bold;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: normal;
	    letter-spacing: normal;
	    color: #000000;
	    text-align: center;
	    margin-bottom: 64px;
	}

	.feature-list {
		figure > img {
			width: 90%;
		}
		.feature-image-caption {
			p {	
				font-family: Proxima Nova Rg;
				font-size: 17px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.59;
				letter-spacing: normal;
				text-align: center;
				color: #000000;
				margin-bottom: 0;
			}
		}
	}	
}
@media only screen and (max-width:600px){
	.feature-wrapper {
		.feature-heading {
			font-size: 22px;
		}
		.feature-list {
			>div:nth-child(odd){
				padding-left:43px;

			}
			>div:nth-child(even){
				padding-right:43px;
			}

			.feature-image-caption p{
				font-size: 12px;
			}
        }
	}

}
@media only screen and (min-width:600px){
	.feature-wrapper {
		.feature-heading {
			font-size: 22px;
		}
		.feature-list {
			>div:nth-child(odd){
				padding-left:48px;

			}
			.feature-image-caption p{
				font-size: 12px;
			}
        }
    }    
}
@media only screen and (min-width:768px){
	.feature-wrapper {
		.feature-heading {
			font-size: 36px;
		}
		.feature-list {
			padding-left:48px;
			padding-right:48px;

			> div:nth-of-type(n) {
				padding-left: 15px;
			}

			.feature-image-caption p{
				font-size: 17px;
			}
		}
	}
}
@media only screen and (min-width:1200px) {
	.feature-wrapper {
		.feature-list {
			padding-left: 73px;
			padding-right: 73px;
		}
	}
}