@media only screen and (min-width: 992px) {
	.feature-wrapper {
		margin-left: 3em;
	}
}

.feature-wrapper {
	margin-top: 115px;
	.feature-heading {
		font-family: Proxima Nova;
	    font-size: 36px;
	    font-weight: bold;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: normal;
	    letter-spacing: normal;
	    color: #000000;
	    text-align: center;
	    margin-bottom: 80px;
	}

	.feature-list {
		.feature-image-caption {
			p {	
				font-family: Proxima Nova;
				font-size: 17px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.59;
				letter-spacing: normal;
				text-align: center;
				color: #000000;
				margin-bottom: 0;
			}
		}
	}	
}