.home-contents-overview {
	background-color: #e0e0e0;
	.home-content-margin {
		background-color: #f7f7f7;
	}
	.home-content-detail {
		background-color: #fff;
	}

	@media only screen and (max-width:600px){ 
		background-color: #fff;
		.home-content-detail {
			
		}
	}
}



@media only screen and (min-width:768px){ 
	.home-content-overview {
		background-color: #e0e0e0;
	}
}

@media only screen and (min-width:1200px){ 
	.home-content-overview {
		background-color: #e0e0e0;
	}
}