.one-stop-shop-wrapper {
	margin-top: 116px;
	.one-stop-content {
		border-bottom: 2px solid #f7f7f7;
		> p{
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.53;
			letter-spacing: normal;
			color: #000000;
		}
		> p:nth-child(1) {
			font-size: 36px;
			font-weight: bold;
			line-height: normal;
		}
		> p:nth-child(2) {
			font-weight: 600;
  			line-height: normal;
  			color: #f73d2f;
		}

		.meeting-detail {
			margin-top: 3em;
			margin-bottom: 3em;
			.meeting-detail-desc {
				font-family: Proxima Nova Rg;
				font-size: 17px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}
			.email-detail {
				display: inline-block;				
				input, input:focus{
					padding-left: 0;
					border: none;
					box-shadow: none;
					border-bottom: 1px solid #979797;
					border-radius: 0;
					font-size: 2.34vw;
					font-family: Proxima Nova Rg;
				}
			}
			.email-submit {
				display: inline-block;
				img {
					width: 33.4%;
				}
			}

			@media only screen and (min-width: 992px) {
				.email-detail {
					width: 85%;
				}
				.email-submit {
					width: 15%;
				}	
			}

			@media only screen and (min-width: 1200px) {
				.email-detail {
					width: 85%;
				}
				.email-submit {
					width: 15%;
				}
			}
		}
	}

	.bit-map-image {
		border-bottom: 2px solid #f7f7f7;
	}
}

@media only screen and (max-width: 600px) {
	.one-stop-shoop-wrapper {
		margin-top: 62px;
	}

	.bit-map-image {
		img {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 600px) {
	.bit-map-image {
		text-align: right;
		img {
			width: 81.207%;
		}
	}
}

@media only screen and (min-width: 992px) {
	.one-stop-shop-wrapper {
		margin-left: 3em;
	}
}


