.one-stop-shop-wrapper {
	margin-top: 116px;
	.one-stop-content {
		> p{
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.53;
			letter-spacing: normal;
			color: #000000;
		}
		> p:nth-child(1) {
			font-size: 36px;
			font-weight: bold;
			line-height: normal;
		}
		> p:nth-child(2) {
			font-weight: 600;
  			line-height: normal;
  			color: #f73d2f;
		}

		
	}

	.meeting-detail {
			margin-top: 3em;
			padding-bottom: 3em;
			.meeting-detail-desc {
				font-family: Proxima Nova Rg;
				font-size: 17px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #000000;
			}
			.email-detail {
				display: inline-block;				
				input, input:focus{
					padding-left: 0;
					border: none;
					box-shadow: none;
					border-bottom: 1px solid #979797;
					border-radius: 0;
					font-size: 36px;
					font-family: Proxima Nova Rg;
					color: #000000;
    				opacity: 1;
				}
			}
			.email-submit {
				display: inline-block;
				img {
					width: 87.4%;
    				margin-bottom: 12px;
				}
			}

			@media only screen and (max-width: 600px) {
				.email-detail {
					width: 79%;
					input {
						font-size: 23px;
					}
				}

				.email-submit {
					width:  10%;
					border-bottom: 1px solid #979797;
    				padding-bottom: 7px;
					img {
						width:  66%;
						margin-top: 5px;
					}
				}
			}

			@media only screen and (min-width: 768px) {
				.email-detail {
					width: 58%;
				}
				.email-submit {
					width: 4%;
					border-bottom: 1px solid #979797;
    				padding-bottom: 13px;
				}	
			}

			@media only screen and (min-width: 992px) {
				.email-detail {
					width: 72%;
					input {
						font-size: 32px;
					}
				}
				.email-submit {
					width: 6%;
					border-bottom: 1px solid #979797;
    				padding-bottom: 11px;
				}	
			}

			@media only screen and (min-width: 1200px) {
				.email-detail {
					width: 50%;
				}
				.email-submit {
					width: 4%;
					border-bottom: 1px solid #979797;
    				padding-bottom: 10.5px;
				}
			}
		}
}



@media only screen and (max-width: 600px) {
	.one-stop-shop-wrapper {
		margin-top: 28px;
		.one-stop-content {
			padding-left: 27px;
    		padding-right: 27px;
			p:first-child {
				font-size: 25px;
			}
		}
	}

	.bit-map-image {
		padding-left: 27px;
    	padding-right: 27px;
		img {
			width: 100%;
		}
	}

	.one-stop-wrapper-nondesktop {
		padding-left: 27px;
    	padding-right: 27px;

    	.meeting-detail {
    		margin-top: 16px;
    		.meeting-detail-desc{
    			font-size: 18px;
    		}
    	}
	}
}

@media only screen and (min-width: 600px) {
	.bit-map-image {
		img {
			width: 100%;
		}
	}
}



@media only screen and (min-width: 768px) {
	.one-stop-shop-wrapper {
		margin-top: 48px;

		.one-stop-content {
			padding-left: 42px;
    		padding-right: 42px;

    		> p:first-child {
    			width: 60%;
    			font-size: 32px;
    		}

    		> p:nth-child(3) {
    			font-size: 18.6px;
    		}
		}
	}

	.bit-map-image {
		padding-right: 48px;
		padding-left: 48px;		
		img {
			width: 81.207%;
			display: block;
    		margin: 0 auto;
		}
	}

	.one-stop-wrapper-nondesktop {
		padding-left: 48px;
		padding-right: 48px;
	}

		
	.meeting-detail {
		p:first-child {
			font-size: 32px;
		}
	}
}

@media only screen and (min-width: 992px) {
	.one-stop-shop-wrapper {
		margin-top: 48px;

		.one-stop-content {
			padding-left: 48px;
    		padding-right: 48px;

    		> p:first-child {
    			width: 90%;
    		}
		}
	}

	.bit-map-image {
		padding-right: 48px;
		padding-left: 48px;
		img {
			width: 100%;
		}
	}

	.one-stop-wrapper-nondesktop {
		padding-left: 48px;

		.meeting-detail {
			p:first-child {
				font-size: 32px;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.one-stop-shop-wrapper {
		margin-top: 90px;

		.one-stop-content {
			padding-bottom: 50px;
			padding-left: 88px;

			> p:first-child {
    			width: 60%;
    		}
		}
	}

	.bit-map-image {
		padding-right: 88px;
	}
}


