.service-offered-wrapper {
	margin-top: 64px;

	.service-offered-desc {
		p:first-child {
			font-family: Proxima Nova Rg;
		  	font-size: 36px;
		  	font-weight: bold;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: normal;
		  	letter-spacing: normal;
		  	color: #000000;
		  	text-align: center;
		}
		p:nth-child(2) {
    		margin: 0 auto;
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.59;
			letter-spacing: normal;
			text-align: center;
			color: #000000;
			margin-bottom: 116px;
		}

		div {
			margin-top: 51px;
			text-align: center;
			img {
				width: 60%;
			}
		}
	}

	.service-offered-list {
		text-align: center;
		img {
			width: 70%;
		}
	}

	.know-more-wrapper {
		cursor: pointer;
		margin-top: 4em;
		div{
			border-bottom: 2px solid #f7f7f7;
			padding-bottom: 4em;
			text-align: center;
		}
		span {
			display: inline-block;
    		margin-right: 8px;
			font-family: Proxima Nova Rg;
			font-size: 17px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #e53532;
		}

		img {
			width: 16px;
			display: inline-block;
		}
	}
}

@media only screen and (max-width:600px) {
	.service-offered-wrapper {
		padding-right: 19px;
    	padding-left: 19px;
		.service-offered-desc {
			p:first-child {
				font-size: 22px;
			}
			p:nth-child(2) {
				width: 100%;
				font-size: 14px;
				margin-bottom: 33px;
			}
		}
	}
}

@media only screen and (min-width:600px) {
	.service-offered-wrapper {
		padding-right: 19px;
    	padding-left: 19px;
		.service-offered-desc {
			p:first-child {
				font-size: 22px;
			}
			p:nth-child(2) {
				width: 80%;
				font-size: 14px;
				margin-bottom: 33px;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.service-offered-wrapper {
		.service-offered-desc {
			p:first-child {
				font-size: 36px;
			}
			p:nth-child(2) {
				width: 82%;
				font-size: 18.6px;
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.service-offered-wrapper {
		margin-left:73px;
		margin-right:73px;

		.service-offered-desc {
			p:nth-child(2) {
				width: 74%;
				font-size: 18.6px;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.service-offered-wrapper {
		.service-offered-desc {
			p:first-child {
				font-size: 36px;
			}
			p:nth-child(2) {
				width: 44%;
				font-size: 17px;				
			}
		}
	}
}