.story-wrapper {
	margin-top: 64px;
	padding-bottom: 64px;
	.story-heading	{
		text-align: center;
		font-family: Proxima Nova Rg;
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
	}

	.video-style {
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
}