
.slide-show-wrapper {
	position: relative;
	.studio-slides {
		.slide-caption {
			background-image: url('../../images/home/slideshow/caption-background.png');
			background-size: 100%;
			background-repeat: no-repeat;
			top: 25%;
		    width: 32.16vw;
		    left: 10.5%;
			p {
				 font-family: Proxima Nova Rg;
				 font-size: 1.432vw;
				 font-weight: normal;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: normal;
				 letter-spacing: normal;
				 color: #000000;
				 text-align: left;
				 margin-bottom: 0;
				 font-weight: bold;
			}

			p:first-child {
				font-size: 3.385vw;
			}

			p:nth-child(2).cafe-slide-desc {
				font-family: Proxima Nova Rg;
				font-weight: normal;
				width: 24vw;
			}

			p:nth-child(2).custom-furniture-slide-desc {
				font-family: Proxima Nova Rg;
				font-weight: normal;
				width: 30.5vw;
			}

			p:nth-child(2).brand-strategy-slide-desc{
				font-family: Proxima Nova Rg;
				font-weight: normal;
				width: 27vw;
			}

			p:nth-child(3) {
				font-family: Proxima Nova Rg;
				font-size: 1.432vw;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #ed3232;
				margin-top: 2.4em;
				span {
					margin-right: 8px;
					img {
						width: 1.041vw;
					}

					@media only screen and (min-width: 768px) {
						img {
							margin-bottom: 2px;
						}
					}

					@media only screen and (min-width: 1200px) {
						img {
							margin-bottom: 4px;
						}
					}
				}
			}
		}


		.carousel-indicators {
		    li {
				border-radius: 100%;
				background-color: #7c7c7c;
		    }
		    .active {
				background-color: #ea0000;
			}
		}
		

		@media only screen and (min-width: 768px) {
			.carousel-indicators {
				left: -71%;
	    		bottom: 11%;
			}

			li {
				width: 10px;
				height: 11px;
			}
		}

		@media only screen and (min-width: 992px) {
			.carousel-indicators {
				left: -72%;
	    		bottom: 13%;
			}

			li {
				width: 11px;
				height: 11px;
			}
		}

		@media only screen and (min-width: 1200px) {
			.carousel-indicators {
				left: -74%;
	    		bottom: 18%;

	    		li {
	    			width: 13px;
		  			height: 15px;
	    		}
			}
		}

		.carousel-control-prev, .carousel-control-next {
			display: none;
		}	
	}

	.studio-slide-caption {
		position: absolute;	
		left: 10.6%;
		top: 26.8%;
		background-image: url('../../images/home/slideshow/caption-background.png');
			background-size: 100%;
			background-repeat: no-repeat;

		p {
			 font-family: Proxima Nova Rg;
			 font-weight: normal;
			 font-stretch: normal;
			 font-style: normal;
			 line-height: normal;
			 letter-spacing: normal;
			 color: #000000;
			 text-align: left;
			 margin-bottom: 0;
			 font-weight: bold;
			 opacity: 1;
		}

		p:first-child {
			width: 9.3em;
		}

		p:nth-child(2) {
			font-weight: normal;
			width: 19em;
		}

		.design-type {
			color: #fd2257;
			font-weight: 600;
			margin-top: 39px;
			span:first-child {
				margin-right: 4px;
			}
			img {
				width: 3%;
				margin-bottom: 4px;
			}
		}
	}

	.mouse-pointer {
		cursor: pointer;
		position: absolute;
	    z-index: 1;
	    left: 50%;
    	bottom: 0;
    	top: 92%;
	}	
}

@media only screen and (max-width: 600px) {
	.slide-show-wrapper {
		.carousel-indicators {
			display:none;
		}
		.mouse-pointer {
			img {
				display: none;
			}
		}
	}

	.studio-slide-caption {
		margin-top: 18px;
		padding-left: 17px;
    	padding-right: 17px;
		p {
			 font-family: Proxima Nova Rg;
			 font-weight: normal;
			 font-stretch: normal;
			 font-style: normal;
			 line-height: normal;
			 letter-spacing: normal;
			 color: #000000;
			 text-align: left;
			 margin-bottom: 0;
			 font-weight: bold;
			 opacity: 1;
		}

		>p:first-child {
			font-size: 22px;
			width: 9.3em;
		}

		p:nth-child(2) {
			font-size: 13px;
			margin-top: 5px;
			font-weight: normal;
			width: 19em;
		}
		.slideshow-indicator{
			span{
				width: 11px;
			    height: 11px;
			    border-radius: 50%;
			    display: inline-block;
			    margin-right: 7px;
			    margin-top: 17px;
			}
		}

		.design-type{
			color: #fd2257;
			font-weight: 600;
			margin-top: 32px;;
			span:first-child {
				font-size: 14px;
				margin-right: 4px;
			}
			img {
				width: 5%;
				margin-bottom: 4px;
			}
		}

	}
}

@media only screen and (min-width: 600px) {
	.slide-show-wrapper {
		.carousel-indicators {
			display:none;
		}
		.mouse-pointer {
			img {
				display: none;
			}
		}
	}

	.studio-slide-caption {
		margin-top: 18px;
		padding-left: 17px;
    	padding-right: 17px;
		p {
			 font-family: Proxima Nova Rg;
			 font-weight: normal;
			 font-stretch: normal;
			 font-style: normal;
			 line-height: normal;
			 letter-spacing: normal;
			 color: #000000;
			 text-align: left;
			 margin-bottom: 0;
			 font-weight: bold;
			 opacity: 1;
		}

		>p:first-child {
			font-size: 22px;
			width: 9.3em;
		}

		p:nth-child(2) {
			font-size: 13px;
			margin-top: 5px;
			font-weight: normal;
			width: 19em;
		}
		.slideshow-indicator{
			span{
				width: 11px;
			    height: 11px;
			    border-radius: 50%;
			    display: inline-block;
			    margin-right: 7px;
			    margin-top: 17px;
			}
		}

		.design-type{
			color: #fd2257;
			font-weight: 600;
			margin-top: 32px;;
			span:first-child {
				font-size: 14px;
				margin-right: 4px;
			}
			img {
				width: 5%;
				margin-bottom: 4px;
			}
		}

	}
}

@media only screen and (min-width: 768px) {
	.slide-show-wrapper {
		.studio-slides {
			.carousel-indicators {
				left: -2.4%;
	    		bottom: 3%;
	    		display: flex;
    			justify-content: end;
			}

			li {
				width: 10px;
				height: 11px;
			}
		}
		.studio-slide-caption {
			left: 10.6%;
			top: 26.8%;

			p:first-child {
				font-size: 3.645vw;
			}

			p:nth-child(2) {
				font-size: 1.432vw;
			}

			.design-type{
				span:first-child{
					font-size:17px;
				}
				font-size: 1.106vw;				
			}
		}
		.mouse-pointer {
			img {
				width: 18%;
				display:inline-block;
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.slide-show-wrapper {
		.studio-slides {
			.carousel-indicators {
				left: -2.7%;
	    		bottom: 13%;
			}

			li {
				width: 11px;
				height: 11px;
			}
		}
		.mouse-pointer {
			img {
		    	width: 21.8%;
		    	display: block;
		    }
		}
	}
}

@media only screen and (min-width: 1200px) {
	.slide-show-wrapper {
		.studio-slides {
			.carousel-indicators {
				left: -3.4%;
	    		bottom: 18%;

	    		li {
	    			width: 13px;
		  			height: 15px;
	    		}
			}
		}
		.mouse-pointer {
			img {
		    	width: 30.8%;
		    	display: block;
		    }
		}
	}
}