
.slide-show-wrapper {
	position: relative;
	.studio-slides {
		.slide-caption {
			background-image: url('../../images/home/slideshow/caption-background.png');
			background-size: 100%;
			background-repeat: no-repeat;
			top: 25%;
		    width: 32.16vw;
		    left: 10.5%;
			p {
				 font-family: Proxima Nova Rg;
				 font-size: 1.432vw;
				 font-weight: normal;
				 font-stretch: normal;
				 font-style: normal;
				 line-height: normal;
				 letter-spacing: normal;
				 color: #000000;
				 text-align: left;
				 margin-bottom: 0;
				 font-weight: bold;
			}

			p:first-child {
				font-size: 3.385vw;
			}

			p:nth-child(2).cafe-slide-desc {
				font-family: Proxima Nova Rg;
				font-weight: normal;
				width: 24vw;
			}

			p:nth-child(2).custom-furniture-slide-desc {
				font-family: Proxima Nova Rg;
				font-weight: normal;
				width: 30.5vw;
			}

			p:nth-child(2).brand-strategy-slide-desc{
				font-family: Proxima Nova Rg;
				font-weight: normal;
				width: 27vw;
			}

			p:nth-child(3) {
				font-family: Proxima Nova Rg;
				font-size: 1.432vw;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #ed3232;
				margin-top: 2.4em;
				span {
					margin-right: 8px;
					img {
						width: 1.041vw;
					}

					@media only screen and (min-width: 768px) {
						img {
							margin-bottom: 2px;
						}
					}

					@media only screen and (min-width: 1200px) {
						img {
							margin-bottom: 4px;
						}
					}
				}
			}
		}


		.carousel-indicators {
		    li {
				border-radius: 100%;
				background-color: #7c7c7c;
		    }
		    .active {
				background-color: #ea0000;
			}
		}
		

		@media only screen and (min-width: 768px) {
			.carousel-indicators {
				left: -71%;
	    		bottom: 11%;
			}

			li {
				width: 10px;
				height: 11px;
			}
		}

		@media only screen and (min-width: 992px) {
			.carousel-indicators {
				left: -72%;
	    		bottom: 13%;
			}

			li {
				width: 11px;
				height: 11px;
			}
		}

		@media only screen and (min-width: 1200px) {
			.carousel-indicators {
				left: -74%;
	    		bottom: 18%;

	    		li {
	    			width: 15px;
		  			height: 15px;
	    		}
			}
		}

		.carousel-control-prev, .carousel-control-next {
			display: none;
		}	
	}

	.item.next .carousel-caption {
	    opacity: 0;
	}

	.carousel-caption {
	  transition: opacity .25s ease-in-out;
	  -moz-transition: opacity .25s ease-in-out;
	  -webkit-transition: opacity .25s ease-in-out;
	}

	.furniture-design-slide	{
		position: absolute;
    	top: 45.8%;
    	left: 10.5%;
    	font-family: Proxima Nova Rg;
		font-size: 1.432vw;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ed3232;
		margin-top: 2.4em;
		z-index: 10;
		span {
			margin-right: 8px;
			img {
				width: 1.041vw;
			}

			@media only screen and (min-width: 768px) {
				img {
					margin-bottom: 2px;
				}
			}

			@media only screen and (min-width: 1200px) {
				img {
					margin-bottom: 4px;
				}
			}
		}
	}

	@media only screen and (min-width: 768px) {
		.furniture-design-slide {
			top: 36.8%;
		}
	}

	@media only screen and (min-width: 992px) {
		.furniture-design-slide {
			top: 42.8%;
		}
	}

	@media only screen and (min-width: 1200px) {
		.furniture-design-slide {
			top: 45.8%;
		}
	}

	.mouse-pointer {
		cursor: pointer;
		position: absolute;
	    top: 82%;
	    z-index: 1;
	    left: 50%;
	    
	}

	@media only screen and (min-width: 600px) {
		.mouse-pointer {
			img {
				display: none;
			}
		}
	}

	@media only screen and (min-width: 768px) {
		.mouse-pointer {
			top: 69%;
			img {
				width: 18%;
			}
		}
	}

	@media only screen and (min-width: 992px) {
		.mouse-pointer {
			top: 76%;
			img {
		    	width: 21.8%;
		    }
		}
	}

	@media only screen and (min-width: 1200px) {
		.mouse-pointer {
			top: 80%;
			img {
		    	width: 30.8%;
		    }
		}
	}

}



