.testimonals-wrapper {
	margin-top: 64px;
	border-bottom: 2px solid #f7f7f7;
    height: 25em;
	.testimonal-heading {
		font-family: Proxima Nova Rg;
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		text-align: center;
	}

	p {
		font-family: Proxima Nova Rg;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		
	}
	.testimonal-slides {
		margin-top: 60px;
		padding-bottom: 4em;
		height: 4em;
		.testimonal-slide-heading {
			width: 40%;
    		margin: 0 auto;
    		text-align: left;
			font-size: 17px;
	  		font-weight: normal;
	  		color: #000000;
	  		margin-bottom: 1em;
		}

		.testimonal-footer {
			width:  40%;
			font-size: 14px;
	  		font-weight: normal;
	  		color: #292828;
	  		margin: 0 auto;
    		text-align: left;
		}

		.carousel-indicators {
			display: none;
		}

		.carousel-control-prev-icon {
			background-image: url('../../images/home/testimonals/prev-arrow.png');
			background-repeat: no-repeat;
			background-size: 2em;
    		padding: 2em;
		}

		.carousel-control-next-icon {
			background-image: url('../../images/home/testimonals/next-arrow.png');
			background-repeat: no-repeat;
			background-size: 2em;
    		padding: 2em;
		}
	}
}

@media only screen and (max-width:600px) {
	.testimonals-wrapper {
		height: 21em;
		.testimonal-heading {
			font-size: 22px;
		}
		.testimonal-slides {
			margin-top: 25px;
			.testimonal-slide-heading {
				font-size: 14px;
				width:  60%;
			}
			.testimonal-footer {
				font-size: 12px;
				width:  60%;
			}
		}
	}
}

@media only screen and (min-width:600px) {
	.testimonals-wrapper {
		height: 21em;
		.testimonal-heading {
			font-size: 22px;
		}
		.testimonal-slides {
			margin-top: 25px;
			.testimonal-slide-heading {
				font-size: 14px;
				width:  60%;
			}
			.testimonal-footer {
				font-size: 12px;
				width:  60%;
			}
		}
	}
}

@media only screen and (min-width:768px) {
	.testimonals-wrapper {
		height: 25em;
		padding-left:33px;
		padding-right:33px;
		.testimonal-slides {
			margin-top: 115px;
			.testimonal-slide-heading {
				font-size: 17px;
			}
			.testimonal-footer {
				font-size: 14px;
			}
		}
		.testimonal-heading {
			font-size: 36px;
		}
	}
}

@media only screen and (min-width: 992px) {
	.testimonals-wrapper {
		padding-left:33px;
		padding-right:33px;
	}
}

@media only screen and (min-width:1200px) {
	.testimonals-wrapper {
		padding-left:73px;
		padding-right:73px;
	}
}