/* Grid CSS */

[class*=col-m-] {
    float: left;
    padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-s-d-1 {
    width: 8.33%;
  }
  .col-s-d-2 {
    width: 16.66%;
  }
  .col-s-d-3 {
    width: 25%;
  }
  .col-s-d-4 {
    width: 33.33%;
  }
  .col-s-d-5 {
    width: 41.66%;
  }
  .col-s-d-6 {
    width: 50%;
  }
  .col-s-d-7 {
    width: 58.33%;
  }
  .col-s-d-8 {
    width: 66.66%;
  }
  .col-s-d-9 {
    width: 75%;
  }
  .col-s-d-10 {
    width: 83.33%;
  }
  .col-s-d-11 {
    width: 91.66%;
  }
  .col-s-d-12 {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-1-h {
    width: 8.33%;
  }
  .col-2-h {
    width: 16.66%;
  }
  .col-3-h {
    width: 25%;
  }
  .col-4-h {
    width: 33.33%;
  }
  .col-5-h {
    width: 41.66%;
  }
  .col-6-h {
    width: 50%;
  }
  .col-7-h {
    width: 58.33%;
  }
  .col-8-h {
    width: 66.66%;
  }
  .col-9-h {
    width: 75%;
  }
  .col-10-h {
    width: 83.33%;
  }
  .col-11-h {
    width: 91.66%;
  }
  .col-12-h {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
