body {
	margin-top: 3.2em;
}

@media only screen and (min-width: 768px) {
	body {
		background-color: #fafafa;
	}
}

a, a:hover, a:focus {
  text-decoration: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		margin-top: 5em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		margin-top: 5em;
	}
}