body {
		margin-top: 3.2em;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		margin-top: 5em;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		margin-top: 5em;
	}
}

#blog-wrapper {
	margin-top: 0;
}